<img src="https://i.imgur.com/XFTWZpy.jpg" class="center-block">
<div id="welcomebox">
<h1 class="text-center" id="welcomeyugen"> welcome to y ū g e n </h1>

<div class="col-md-4 col-md-offset-4">
  <div id="login-box">
    <%= form_tag sessions_path do %>
      <div class="form-group" id="email">
        <%= label_tag :email, "Email" %>
        <input class="form-control" placeholder="Email" id="emailtext"<%= text_field_tag :email, params[:email] %>
      </div>
      <div class="form-group" id="password">
        <%= label_tag :password, "Password" %>
        <input class="form-control" placeholder="password" id="passwordtext"<%= password_field_tag :password %>
      </div>
    <%= submit_tag "Log In" %>
  </div>
</div>
</div>
<% end %>

