<h1> Sign Up </h1>

<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br>
  <%= f.label :sex %>
  <%= f.text_field :sex %>
  <br>
  <%= f.label :born_on %>
  <%= f.text_field :born_on %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <br>
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %>
<button type="button" class="btn btn-primary">Submit</button>
<ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>

