
<div class="container-fluid" id="welcomeandlogout">
  <div class="row">
    <div class="col-md-12" id="welcomename">
      <% if current_user %>
        Welcome, <%= current_user.first_name %>
        <%= link_to 'Log Out', session_path('backtostart'), :class => "logout", method: :delete %>
    </div>
  </div>
</div>
    <% end %>

<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
  <div class="container" id="navbar">
    <ul class="nav navbar-nav">
      <li id="navbuttons"><%= link_to "Home", home_path %></li>
      <li id="navbuttons"><%= link_to "My Adventures", posts_path %></li>
      <li id="navbuttons"><%= link_to "Create", new_post_path %></li>
      <li id="navbuttons"><%= link_to "Travelers", users_path %></li>
      <li id="navbuttons"><%= link_to "My Profile", edit_user_path(current_user.id) %></li>
      <li id="navbuttons"><%= link_to "Locations", locations_path %></li>
      <li id="navbuttons"><%= link_to "About", about_path %></li>
    </ul>
  </div>
</nav>
