<%= render 'welcomeandnav' %>

<div id= "myadventurescontainer">
  <h1 class="text-center">My Adventures</h1>
  <img class= "center-block" id="profilepiconshow" src="<%= current_user.profilepicture %>">
</div>
<div id="posts">
  <% @posts.each do |post| %>
<div class="container" id="eachpost">
  <div id="titleandlocation">
  <ul id="titleandlocationlist">
    <li> <%= post.title %></li>
    <li>Traveled on: <%= post.traveled_on %></li>
  </ul>
  </div>
  <div id="space"></div>
  <div id="links">
    <ul id="linklist">
      <li class="link"><%= link_to "View", post %></li> |
      <li class="link"><%= link_to "Edit", edit_post_path(post) %></li> |
      <li class="link"><%= link_to "Delete", post, method: :delete, data: {confirm: "Are you sure?"} %></li>
    </ul>
  </div>
  <% end %>
</div>
</div>

